<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobile.platform.SecuGuard">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />



    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.mobile.platform.SecuGuard.DecryptedFile"
            android:label="DecryptedFileActivity">
        </activity>

        <activity
            android:name="com.mobile.platform.SecuGuard.Announcements"
            android:configChanges="orientation|screenSize"
            android:label="Announcements" />

        <activity
            android:name="com.mobile.platform.SecuGuard.SignupScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyAppTheme" />

        <activity
            android:name="com.mobile.platform.SecuGuard.LoginScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyAppTheme" />

        <activity
            android:name="com.mobile.platform.SecuGuard.Home"
            android:configChanges="orientation|screenSize"
            android:theme="@style/MyAppTheme" />

        <activity
            android:name="com.mobile.platform.SecuGuard.SplashScreen"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
